.name-highlight{
    color: orange;
}
h4{
    font-size: 15px;
}
p{
    color: dimgray;
}
.ancor-button{
    text-decoration:none ;
    background-color: orange;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.divate-1 img{
    height: 15%;
    width: 100%;
    padding-right: 20px;

}
.divate-1{margin-left: 5%;
    float: left;
    width: 40%;
}
section{
    height:500px ;
    padding-bottom: 15%;
}
.divate-2 img{
    height:15%;
    width: 100%;
    padding-right: 20px;

}
.divate-2{margin-right: 5%;
    float: right;
    width: 40%;
    margin-top: 20px;
}
.text{
    text-align: center;
}
.box{
    width: 28%;
    float:left;
    border: 5px solid whitesmoke;
    text-align: center;
    margin: 5px;

}
.box img{
    width:40%;
}
.highlight{
    background-image: linear-gradient(180deg white);
}
.buttom{
    background-image: url(image/dj.png);
background-size: 20%;
background-repeat: no-repeat;
background-position: center;
text-align: center;
}
.aligan{
    text-align: center;
}
.help-box{
    width: 70%;
    margin: auto;
    background-color: blue;
    padding: 58px 38px;
    border-radius: 30px;
}
.box-single{
    width: 58%;
    float: left;
}
.btn{
    display:inline-block;
    background-color: red;
    color:white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 50px;
}
.box-btn{
    text-align: right;
    color:green;
}