body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 180px;
}
h2{
    font-size: 25px;
}
p{
    color: dimgrey;
}
.name-highlight{
    color: orangered;
    text-align: center;
}
.half-width-one{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left: 2%;
    background-color: whitesmoke;
}
.half-width-one img{
    width: 40%;
}
.half-width-two{
    width: 40%;
    float: right;
    margin-left:5%;
    padding-left: 2%;
    background-color: whitesmoke;  
}
.half-width-two img{
    width: 115%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, lightsalmon, orangered);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}  
.btn{
    background-color: orangered;
    color: whitesmoke;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 10%;
    font-weight: 700;
}
.fa-download{
    color: whitesmoke;
    background-color: tomato;
    font-size: 20px;
    border: none;
    padding: 12px 30px;
    cursor: pointer
}
.table{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 100%;
    display: block;
    clear: both;
}
.table h3{
    color: black;
    text-align: center;
}
.text-center{
    text-align: center;
}
.table p{
    color: black;
    text-align: center;
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid orangered;
}  
.table a{
    text-decoration: none;
}
.table img{
widows: 100%;
}
.contain{
    height: 500px;
    background-color: brown;
}
.top-banner{
    padding: 5px;
}

